<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/App.css">
    <title>Register Page</title>
</head>
<body>
    <ul class="navbar">
        <li class="navbarele"><a class="navbarelein" href="/">Home</a></li>
        <li class="navbarele"><a class="navbarelein" href="login">Login</a></li>
        <li class="navbarele"><a class="navbarelein" href="register">Register</a></li>
        <li class="navbarele"><a class="navbarelein" href="">About</a></li>
        <h2 class="navtitle">Login System Framework</h2>
    </ul>
    <div class="content">

    <h1> Register Page </h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <br>

    <a href="{{url_for('login')}}">Already have an account? Log in.</a> <br>
    </div>
</body>
</html>